# Environment variables
.env
null

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# Data files
*.csv
indice_fotos.csv

# Images
*.jpg
*.jpeg
*.png
*.JPG
*.JPEG
*.PNG

# Session files
session.json
.test
